
:root {
    --light:#D3F5F4;
    --header: #554348;

}

body {
    background-color: var(--light);

    flex: 1;
    margin: auto 0;
    height: 100vh;
    overflow-y: scroll;
}

.container {
    text-align: center
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--header);
    color: whitesmoke;
    width:100%;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

.top-cities {
    margin: 3em;
    background-color: #8C9A9D;
    border: 0.15em solid var(--header);
}

.city-img {
    flex-wrap: wrap;
    flex: 1 1 1em;
    height: 10em;
    width: 20em;
}